body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
a {
  text-decoration: none;
}
nav a.active {
  color: #2196f3;
}
.filter {
  list-style: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
}
.filter button:focus,
.filter button:hover {
  background: #2196f3;
  cursor: pointer;
  color: #ffffff;
}

.project-name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}

.project-type {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
