:root {
  --main-design-blue: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --secondary-background-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

.hero-header {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  text-transform: uppercase;
}

.first-logo,
.second-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
}

.first-logo span:nth-child(1),
.second-logo span:nth-child(1) {
  color: var(--main-design-blue);
}

.first-logo span:nth-child(2) {
  color: #000;
}

.second-logo span:nth-child(2) {
  color: #fff;
}

.site-nav {
  border-bottom: 1px solid #ececec;
}

.site-nav a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.site-nav li,
.article-box {
  list-style: none;
}

.hero-container,
.footer-container {
  background-color: var(--secondary-background-color);
}
.button-box {
  background-color: var(--main-design-blue);
  color: #fff;
}
.article-name {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 115%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.article-overview {
  color: var(--secondary-text-color);
  line-height: 171%;
}
.secondary-header {
  color: var(--primary-text-color);
  text-align: center;
}
.about-container {
  background-color: #f5f4fa;
}
.photo-box {
  background-color: #fff;
}
.name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 119%;
  text-align: center;
  letter-spacing: 0.03em;
}
.position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 119%;
  text-align: center;
  letter-spacing: 0.03em;
}
.filter {
  list-style: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background: #f5f4fa;
}
.filter button:focus,
.filter button:hover {
  background: var(--main-design-blue);
  cursor: pointer;
  color: #ffffff;
}

.portfolio {
  list-style: none;
}

.portfolio-element {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  text-align: left;
}
.project-name {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
}

.project-type {
  font-size: 16px;
  line-height: 188%;
  color: var(--secondary-text-color);
}

.address-info {
  color: #fff;
  line-height: 171%;
  font-style: normal;
}
.contact-links a {
  font-style: normal;
  text-decoration: none;
  color: var(--secondary-text-color);
}
.contact-links a:hover,
.contact-links a:focus,
.main-nav a:hover,
.main-nav a:focus {
  color: var(--main-design-blue);
}
